{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        {% if instance.image %}
        <img src="{{ instance.image.url }}" alt="image"/>
        {% endif %}
        <hr/>
        <h1>{{ title }} <small>{% if instance.draft %} <span style="color: #e4080c">Draft</span> {% endif %}{{instance.publish }}</small></h1>
        {% if instance.user.get_full_name %}<p>Author: {{ instance.user.get_full_name }}</p> {% endif %}
        <p><div class="fb-like" data-href={{ request.build_absolute_uri }} data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p>
        <hr/>
{#        <p>#}
{#            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">#}
{#            Facebook#}
{#            </a>#}
{##}
{#            <a href="https://twitter.com/home?status={{ instance.content | urlify }}20{{ request.build_absolute_uri }}">#}
{#            Twitter#}
{#            </a>#}
{##}
{#            <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google+</a>#}
{##}
{##}
{#            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">#}
{#            Linkedin#}
{#            </a>#}
{#        </p>#}

        <div class="row">
            <div class="col-sm-12">
                {{instance.content | linebreaks}}
                <p><a href="{% url 'posts:update' slug=instance.slug %}" class="btn btn-primary" role="button"> Edit Post </a> </p>

            </div>
        </div>
        <hr/>
        <br/>
        <div class="fb-comments" data-href={{ request.build_absolute_uri }} data-numposts="5"></div>

    </div>
{% endblock content %}










