{% extends "base.html" %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Form:</h1>
        {{current_url}}

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' class="btn btn-primary" value="Create Post"/>
        </form>
    </div>
     <script>
        $(function () {
            $('.datetime-input').datetimepicker({
                format:'YYYY-MM-DD'
            });
        });
    </script>

{% endblock content %}

